#footer {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/bg-grid.jpg");
  position: relative;
  width: 100%;
}
.footer_logo {
  position: absolute;
  top: 0;
  left: 47%;
}
.footer_text {
  color: #c3cc26;
  transition: 0.3s;
}
.footer_text:hover {
  color: white;
  text-decoration: underline;
}
.footer_item {
  line-height: 2.3;
  font-size: 15px;
  margin-right: 150px;
}
.footer_item2 {
  line-height: 1.5;
}
.main_containerFooter {
  max-width: 1200px;
  margin: 0 auto;
}
.custom_item {
  width: 50px;
  height: 3px;
  background-color: #c3cc26;
}
.end_footer {
  padding: 25px 0;
  border-top: 2px solid #343434;
}
.footer_cover {
  padding: 120px 0 50px 0;
}
