body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner_content {
  margin: 0 auto;
}
.carousel_content {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
  padding: 10px 60px;
}
.image_film {
  width: 100%;
  min-height: 290px;
  object-fit: cover;
  transition: 0.4s;
  cursor: pointer;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: #54ab35;
}
.ant-carousel .slick-dots li button {
  height: 6px;
  margin-left: 8px;
}
.btn_muaVe:hover {
  background-color: white !important;
  color: #54ab35 !important;
}
.btn_muaVe {
  transition: 0.3s;
}
.backToTop {
  padding: 15px;
  color: white;
  border-radius: 5px;
  background-color: #c3cc26;
  transform: rotate(180deg);
  font-weight: 700;
}
.text_backToTop {
  margin-top: 15px;
  color: #c3cc26;
  margin-right: 5px;
}
.text_backToTop:hover {
  text-decoration: underline;
}
.detail_container {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
}
.detail_content {
  padding: 40px 0 40px 180px;
}
.detail_text {
  transition: 0.3s;
}
.detail_text:hover {
  color: #54ab35;
}
.btn_item {
  background-color: #54ab35;
  width: 165px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.btn_item:hover {
  background-color: white;
  color: #54ab35;
}
.image_item {
  width: 324px;
  height: 484px;
  object-fit: cover;
}
.form_content {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
  padding: 60px 0;
}
.form_login {
  width: 35%;
  margin: 0 auto;
  padding: 35px;
  background-color: rgba(30, 24, 24, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.btn_dangNhap {
  background-color: #54ab35;
  border: none;
  color: white;
  font-weight: 600;
  width: 120px;
}
.lichChieu {
  display: block;
  color: #97a5be;
  line-height: 20px;
  text-align: center;
  background: #10171e;
  border: 2px solid #54ab35;
  margin-right: 12px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.lichChieu:hover {
  background-color: #54ab35;
  color: white;
}

.screen_datVe {
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.7);
  transform: rotateX(-25deg);
}
.danhSachGhe {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}
.container_perspective {
  perspective: 350px;
}
.form_datVe {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: max-content;
}
.event_item {
  transition: 0.5s;
}
@media only screen and (max-width: 1397px) {
  .detail_content {
    padding: 40px 0 40px 100px;
  }
  .form_datVe {
    margin-left: 20px;
  }
  .seat {
    padding-left: 0;
    padding-right: 0;
  }
}
