.main_header {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/bg-header.jpg");
  width: 100%;
  height: 70px;
}
.main_container {
  margin: 0 auto;
  position: relative;
  z-index: 15;
}
.logo_header {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 75px;
}
.header_buyticket {
  width: 105px;
  height: 38px;
  border-radius: 3px;
  background-color: #54ab35;
  position: absolute;
  top: 13px;
  left: 6%;
  cursor: pointer;
  transition: 0.5s;
}
.header_buyticket:hover {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
  background-position: center;
}

.dropdown {
  width: 73px;
  height: 70px;
  background-color: #2c2c2c;
  position: relative;
  cursor: pointer;
}
.dropdown .dropdown_content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 375px;
  background: #141414;
  padding: 17px 0;
  margin: 0;
  z-index: 9;
  border-radius: 0 0 5px 0;
  padding-left: 30px;
}
.dropdown .dropdown_content .dropdown_item h3 {
  display: block;
  padding: 5px 37px 5px 5px;
  color: #bfbfbf;
  line-height: 32px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s;
}
.dropdown .dropdown_content .dropdown_item h3:hover {
  color: #c3cc26;
}
.social_app {
  position: absolute;
  top: 0;
  right: 12%;
}
.logo_social {
  width: 45px;
  margin-right: 10px;
  margin-top: 11px;
}
.header_login {
  position: absolute;
  top: 13px;
  right: 2%;
  width: 115px;
  height: 38px;
  border-radius: 3px;
  background-color: #54ab35;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  text-align: center;
  font-weight: 600;
  padding-top: 8px;
}
.header_login:hover {
  background-position: center;
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
}
.header_menu {
  width: 38px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(199, 251, 70, 1) 38%,
    rgba(0, 255, 119, 1) 100%
  );
  position: relative;
  top: 16%;
  left: 26%;
}
.header_menu::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(199, 251, 70, 1) 38%,
    rgba(0, 255, 119, 1) 100%
  );
  top: 8px;
}
.header_menu::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(199, 251, 70, 1) 38%,
    rgba(0, 255, 119, 1) 100%
  );
  top: 16px;
}
.header_overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
}
.username {
  position: absolute;
  top: 25px;
  right: 450px;
  color: #54ab35;
  font-weight: 500;
}
@media only screen and (max-width: 1397px) {
  /* .header_overlay {
    left: 200px;
  } */
}
